canvas {
    position: fixed;
    top: 0;
    left: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
}

p {
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}